<app-section>
  <div class="content">
    <div
      class="header"
      (click)="showOrHide()"
    >
      <div class="wrapper">
        <app-user-avatar size="s"></app-user-avatar>
        <p>Что у Вас нового?</p>
      </div>
      <tui-badged-content>
        <button
          tuiIconButton
          appearance="secondary"
          icon="tuiIconImageLarge"
          size="m"
          title="Добавить фото"
        ></button>
      </tui-badged-content>
    </div>
    <div
      class="main"
      *ngIf="isShowed"
    >
      <tui-text-area
        [expandable]="true"
        data-size="m"
        class="text"
      ></tui-text-area>
      <button
        tuiButton
        size="s"
        class="publish-btn"
      >
        Опубликовать
      </button>
    </div>
  </div>
</app-section>
